html{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Merriweather', serif;
    background-color: #000000;
    font-weight: bold;
}

/* splash screen css starts here  */
#loading{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #A9E4D7 url("https://media.giphy.com/media/xTk9ZvMnbIiIew7IpW/giphy.gi") no-repeat center center;
    z-index: 99999;
}
/* splash screen css ends here  */

/* navbar css starts here  */
.bg-light{
    background-color: #FAEBE0!important;
}

.navbar-brand{
    font-family: 'Merriweather', serif;
    font-size: 1.5rem;
    color: #362222!important;
}

.nav-link{
    color: #346751!important;
    font-family: 'Merriweather', serif;
    font-weight: bolder;
}

.nav-link:hover{
    background-color: #C6FFC1;
}
/* navbar css ends here  */

/* here content css starts here  */
.hero-content{
    height: 100vh;
    background-color: #355070;
    color: #26001B;
    font-weight: bolder;
    padding: 3rem;
    border-bottom-left-radius: 45rem;
    border-bottom-right-radius: 45rem;
    margin-bottom: 1vh;
}

.hero-img{
    height: 70vh;
    width: 100%;
}

@media only screen and (max-width: 766px) {
    .hero-img {
      display: none;
    }
}

.get-started{
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    font-size: 162%;
    background-color: #FAF3E0;
    color: #26001B!important;
    transition: 0.3s;
}

.get-started:hover{
    text-decoration: none;
    background-color:#FFF5EB;

}
/* here content css starts here  */

/* get-started-buttons css starts here*/
.get-started-content{
    height: 60vh;
    background-color: #000000;
    border-top-left-radius: 42rem;
    border-top-right-radius: 42rem;
    border-bottom-right-radius: 42rem;
    border-bottom-left-radius: 42rem;
}

.get-started-content .row{
    padding: 25vh 0;
}

.get-started-content a{
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    font-size: 162%;
    background-color: #39A6A3;
    color: #FFC93C!important;
    transition: 0.3s;
}

.get-started-content a:hover{
    background-color: #4A1C40;
    text-decoration: none;
}
/* get-started-buttons css end here*/

/* footer css starts here */
footer{
    background-color:  #f2e9e4;
}

.social-icons li{
    list-style: none;
    display: inline;
    padding: 0.5rem;
}

.github{
    color: #24292e;
}

.linkedin{
    color: #000000;
}

.google{
    color: #D44638;
}
/* footer css ends here  */
